<p>Hey {{ name }},</p>
<p>This is your confirmation code: <span style="color: blue">{{ code }}</span></p>

<p>Thank you for your support!!</p>

<p>If you did not request this email you can safely ignore it.</p>